verbose = true
pager = "bat"

[git]
  autoCommit = true
  autoPush = true

[merge]
  command = "nvim"
  args = ["-d", "{{ "{{ .Destination }}" }}", "{{"{{ .Source }}" }}"]

[edit]
  command = "nvim"
  apply = true

{{ $email := promptString "email" -}}
{{- $user := promptString "user" -}}
[data]
  email = "{{ $email }}"
  user = "{{ $user }}"

